version: '3.8'
services:
  app:
    # TODO: Configure build context
    ports:
      - "8080:8080"
      
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
